@mixin ObtuseBox($name: 'Box') {
    .#{$name} {
        &-padded {
            padding: 1rem;
        }

        &-thick {
            padding: 2rem;
        }

        &-row {
            margin: 1rem 0;
            padding: 0;
        }

        &-column {
            padding-top: 0;
            padding-bottom: 0;
        }

        &-hairline {
            box-shadow: 0 0 0 .5px color('hairline'), inset 0 0 0 .5px color('hairline');

            & + & {
                margin-top: 1rem;
            }
        }

        &-flood {
            height: 100%;
            overflow: auto;
            width: 100%;
        }

        @content;
    }
}
