@mixin ObtuseInput($name: 'Input') {
    ::-webkit-input-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder,
    :-moz-placeholder {
        color: grey(80);
    }

    .#{$name} {
        background-color: transparent;
        border: 0;
        color: currentColor;
        font: inherit;
        outline: 1px solid currentColor;
        padding: 0;

        &:focus {
            // outline: 0;
        }

        &-clearText {
            background-color: transparent;
            border: 0;
            padding: 0;
        }

        @content;
        @content;
    }
}
