@mixin ObtuseInput($name: 'Input') {
    ::-webkit-input-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder,
    :-moz-placeholder {
        color: grey(80);
    }

    .#{$name} {
        border: 1px solid color('hairline');
        color: currentColor;
        font: inherit;
        line-height: 1.2;
        margin-bottom: 1rem;
        padding: .5rem;
        width: 100%;

        &:focus {
            outline: 0;
        }

        &-clearText {
            border: 0;
            padding: 0;
            background-color: transparent;
        }

        @content;
        @content;
    }
}
