@mixin ObtuseList-margin {
    margin-bottom: 1rem;
}

@mixin ObtuseList_item-margin {
    margin-bottom: .5rem;
}

@mixin ObtuseList_item-marginMilli {
    margin-bottom: .25rem;
}

@mixin ObtuseList($name: 'List') {
    .#{$name} {

        &-margin {
            @include ObtuseList-margin;
        }

        &_item {
            &-margin {
                @include ObtuseList_item-margin;
            }

            &-marginMilli {
                @include ObtuseList_item-marginMilli;
            }

            &-bullet {
                list-style-type: disc;
            }
        }

        @content;
    }
}
