@mixin ObtuseModal($name: 'Modal') {
    .#{$name} {
        @include BruceFlood;
        position: fixed;
        z-index: get-zindex('Modal');


        @include BruceBreakpoint(40rem) {
            align-items: center;
            display: flex;
            justify-content: center;
        }


        &_content {
            @include BruceClearfix;
            background-color: color('background');
            margin: auto;
            max-height: 100vh;
            max-width: 80%;
            min-width: 48rem;
            outline: none;
            overflow: auto;
        }

        &_title {
            border: 1px solid;
            border-bottom: 0;
            padding: .5rem;
            text-align: center;
        }

        &_body {
            border: 1px solid;
            padding: 2rem;
        }

        &_buttonContainer {
            margin-top: 1rem;
            text-align: right;
        }

        @content;
    }
}
