@mixin ObtuseTable($name: 'Table') {
    .#{$name} {

        width: 100%;
        td {
            border-top: 1px solid color('hairline');
            padding: .5rem;
            vertical-align: middle;
        }
        @content;
    }
}
