@mixin ObtuseText($name: 'Text') {
    .#{$name} {

        // Size

        &-sizeGiga {
            color: color('heading');
            font-size: 3.5rem;
            font-weight: 400;
        }

        &-sizeMega {
            color: color('heading');
            font-size: 2.5rem;
            font-weight: 300;
        }

        &-sizeKilo {
            color: color('heading');
            font-size: 2rem;
            font-weight: 300;
        }

        &-size {
            font-size: 1rem;
        }

        &-sizeMilli {
            font-size: .9rem;
        }

        // Margin

        &-marginGiga {
            margin-top: 4.5rem;
            margin-bottom: 1rem;
        }

        &-marginMega {
            margin-top: 3rem;
            margin-bottom: 1rem;
        }

        &-marginKilo {
            margin-top: 1.5rem;
            margin-bottom: 1rem;
        }

        &-margin {
            margin-bottom: 1rem;
        }

        &-marginMilli {
            margin-bottom: .5rem;
        }

        // Goose

        &-muted {
            color: color('muted');
        }

        &-emphasis {
            font-style: italic;
        }

        &-strong {
            color: color('heading');
            font-weight: 700;
        }

        // Other modifiers

        &-link {
            color: color('link');
            cursor: pointer;
            text-decoration: underline;

            &:hover {
                opacity: .8;
            }
        }

        &-capitalize {
            text-transform: capitalize;
        }

        &-monospace {
            font-family: font('monospace');
        }

        &-block {
            @include bruce-clearfix;
            display: block;
        }

        &-relative {
            position: relative;
        }

        &-active {
            text-decoration: underline;
        }

        &-center {
            text-align: center;
        }

        @each $name, $color in $bruce-colors {
            &-#{$name} {
                color: $color;
            }
        }

        &-disabled {
            color: grey(60);
            cursor: default;
        }

        &-code {
            background-color: color('alternativeBackground');
            padding: 0 .25rem;
            border-radius: 3px;
        }

        // Peers

        &--Button {
            line-height: 1.2;
            padding: .5rem 1rem .5rem .5rem;
        }

        @content;
    }

}
