@mixin ObtuseBase() {

    $baseFontSize: 13px;
    $baseLineHeight: 1.6;

    html {
        height: 100%;
        position: relative;
        font-size: $baseFontSize;
        line-height: $baseLineHeight;
    }

    body {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        background-color: color('background');
        color: color('copy');
        font-family: font('copy');
        font-size: 1rem;
        font-weight: 300;
        height: 100%;
        line-height: $baseLineHeight;
        overflow-x: hidden;
        text-rendering: optimizelegibility;

        &[aria-hidden='true'] {
            overflow: hidden;
        }
    }

    a {
        color: inherit;
        cursor: pointer;
        text-decoration: none;

        &:focus {
            outline: none;
        }

        // &:visited {
        //     color: inherit;
        // }
    }

    a {
        text-decoration: none;
    }

    button {
        -webkit-appearance: none;
        background-color: transparent;
        font-family: inherit;
        outline: none;
    }
}
