$bruce-fonts: ();
$bruce-colors: ();
// $bruce-breakpoints: ();


@mixin ObtuseConfig($theme: 'light', $fontStyle: 'monospace') {


    //
    // Colors

    @if $theme == 'light' {
        $bruce-colors: (
            'white': #fff,
            'black': #000,

            'background': grey(100),
            'copy': grey(36),
            'muted': grey(70),
            'hero': #6555cf,
            'hairline': grey(80),
            'link': #558fcf,
            'Navigation': grey(90),
            'Select_value': grey(90),

            'primary': #6555cf,
            'secondary': grey(30),
            'focus': #6555cf,
            'true': #55cf9e,
            'false': #cf5591
        ) !global;
    }
    @if $theme == 'dark' {
        $bruce-colors: (
            'white': #000,
            'black': #fff,

            'backgroundDarker': grey(10),
            'background': grey(18),
            'copy': grey(70),
            'muted': grey(50),
            'hero': #6555cf,
            'hairline': grey(10),
            'link': #558fcf,
            'Navigation': grey(10),
            'Select_value': grey(10),

            'primary': #6555cf,
            'secondary': grey(30),
            'focus': #6555cf,
            'true': #55cf9e,
            'false': #cf5591
        ) !global;
    }



    //
    // Fonts
    //

    @if $fontStyle == 'monospace' {
        $bruce-fonts: (
            'heading': (Menlo, Consolas, monospace),
            'copy': (Menlo, Consolas, monospace),
            'monospace': (Menlo, Consolas, monospace),
        ) !global;
    }
     @else if $fontStyle == 'serif' {
        $bruce-fonts: (
            'heading': (Georgia, serif),
            'copy': (Georgia, serif),
            'monospace': (Menlo, Consolas, monospace)
        ) !global;
    } @else {
        $bruce-fonts: (
            'heading': ("Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif),
            'copy': ("Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif),
            'monospace': (Menlo, Consolas, monospace)
        ) !global;
    }


    //
    // Breakpoints

    // $bruce-breakpoints: ();

}
