@if not global-variable-exists('bruce-fonts') {
    $bruce-fonts: () !global;
};
@if not global-variable-exists('bruce-colors') {
    $bruce-colors: () !global;
};
@if not global-variable-exists('bruce-breakpoints') {
    $bruce-breakpoints: () !global;
};


@mixin ObtuseConfig($theme: 'light', $fontStyle: 'monospace') {


    //
    // Colors

    @if $theme == 'light' {
        $bruce-colors: (
            'white': #fff,
            'black': #000,

            'background': grey(100),
            'alternativeBackground': grey(94),
            'invertBackground': #333333,
            'copy': #383838,
            'invertCopy': grey(70),
            'heading': #383838,
            'muted': grey(70),
            'hairline': grey(80),
            'link': #558fcf,
            'Navigation': grey(90),
            'Select_value': grey(90),

            'primary': #6CA6CE,
            'secondary': #9fc2db,
            'focus': #6CA6CE,
            'success': #55cf9e,
            'failure': #cf5591,
            'warning': #e07e4d,

            'terminalKeyword': #C55B4E,
            'terminalTag': #E1AE69,
            'terminalString': #86C797,
            'terminalNumber': #6CA6CE,
            'terminalBoolean': #6CA6CE,
            'terminalComment': #6D6D6D
        ) !global;
    }
    @if $theme == 'dark' {
        $bruce-colors: (
            'white': #000,
            'black': #fff,

            'alternativeBackground': grey(10),
            'background': grey(18),
            'copy': grey(70),
            'muted': grey(50),
            'hairline': grey(35),
            'link': #558fcf,
            'Navigation': grey(10),
            'Select_value': grey(10),

            'primary': #6CA6CE,
            'secondary': #9fc2db,
            'focus': #6CA6CE,
            'success': #55cf9e,
            'failure': #cf5591,
            'warning': #e07e4d,
        ) !global;
    }



    //
    // Fonts
    //

    @if $fontStyle == 'monospace' {
        $bruce-fonts: (
            'heading': (Menlo, Consolas, monospace),
            'copy': (Menlo, Consolas, monospace),
            'monospace': (Menlo, Consolas, monospace),
        ) !global;
    }
     @else if $fontStyle == 'serif' {
        $bruce-fonts: (
            'heading': (Georgia, serif),
            'copy': (Georgia, serif),
            'monospace': (Menlo, Consolas, monospace)
        ) !global;
    } @else {
        $bruce-fonts: (
            'heading': ("Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif),
            'copy': ("Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif),
            'monospace': (Menlo, Consolas, monospace)
        ) !global;
    }


    //
    // Breakpoints

    $breakpoints: (
        'large':  1280px,
        'medium': 1024px,
        'small':  768px,
        'tiny':   480px
    );

    $bruce-breakpoints: map-merge($bruce-breakpoints, $breakpoints) !global;

}
